    <section class="container">
        <h1>Dashboard</h1>
        <div style="margin: 30px 0">
            <table class="table table-hover">
                <h1 align="center">USER INFORMATONS</h1>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Type</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gen</th>
                    <th>Country</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="user in userList" class="align-middle" ng-click="getRecord(userData)">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.type}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.gen}}</td>
                    <td>{{user.country}}</td>
                    <td><a class="btn btn-danger">Delete</a></td>
                    <td><a class="btn btn-primary">Update</a></td>
                </tr>
            </table>
        </div>
        <div style="margin: 30px 0">
            <table class="table table-hover" width="100%">
                <h1 align="center">PRODUCT INFORMATONS</h1>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Brand</th>
                    <th>NameItem</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Lighting Style</th>
                    <th>Material</th>
                    <th>Made in</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>Img</th>
                    <th>ImgReal</th>
                </tr>
                <tr ng-repeat="product in productList" class="align-middle" ng-click="getRecord(userData)">
                    <td>{{product.id}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.nameItem}}</td>
                    <td>{{product.size}}</td>
                    <td>{{product.price.msrp}}</td>
                    <td>{{product.option.lightingStyle}}</td>
                    <td>{{product.option.material}}</td>
                    <td>{{product.option.madeIn}}</td>
                    <td>{{product.option.color}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.img}}</td>
                    <td>{{product.imgReal}}</td>
                    <td><a class="btn btn-danger">Delete</a></td>
                    <td><a class="btn btn-primary">Update</a></td>
                </tr>
            </table>
        </div>
    </section>
    
    