<section id="product" class="container py-3">
  <center>
    <h1 class="heading">Our <span>Products</span></h1>
  </center>
  <div class="ps-5">
    Filter by Brand:<select class="form-select w-25" ng-model="brand">
      <option value="" checked>All</option>
      <option value="Chic Lamp">Chic Lamp</option>
      <option value="Lumens">Lumens</option>
      <option value="Ikea">Ikea</option>
    </select>
  </div>
  <p class="product__title">{{ title }}</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6" ng-repeat="data in productList | filter:{type: type, brand: brand} track by $index">
        <div class="card product__card">
          <div class="product__img mx-auto">
            <img class="product__image" src="{{data.img}}" alt="{{data.img}}">
            <img class="product__imageReal" src="{{data.imgReal}}" alt="{{data.imgReal}}">
          </div>
          <div class="card-body">
            <div>
              <h3 class="product__card__title">{{data.nameItem}}</h3>
              <p class="product__card__text">{{data.description}}</p>
            </div>
            <h4 class="">Details</h4>
            <div class="row mx-3 border rounded bg-light product__detail">
              <table width="100%">
                <tr>
                  <th class="col__title col-lg-2">Name</th>
                  <th class="col__value col-lg-4">{{data.nameItem}}</th>
                  <th class="col__title col-lg-2">Price</th>
                  <th class="col__value col-lg-4">{{data.price.msrp | currency:"$":0}}</th>
                </tr>
                <tr>
                  <th class="col__title col-lg-2">Brand</th>
                  <td class="col__value col-lg-4">{{data.brand}}</td>
                  <th class="col__title col-lg-2">Type</th>
                  <td class="col__value col-lg-4">{{data.type}}</td>
                </tr>
                <tr>
                  <th class="col__title col-lg-2">Lamp Type</th>
                  <td class="col__value col-lg-4">{{data.option.lampType}}</td>
                  <th class="col__title col-lg-2">Color Temp</th>
                  <td class="col__value col-lg-4">{{data.option.color}}</td>
                </tr>
                <tr>
                  <th class="col__title col-lg-2">Lighting Style</th>
                  <td class="col__value col-lg-4">{{data.option.lightingStyle}}</td>
                  <th class="col__title col-lg-2">Material</th>
                  <td class="col__value col-lg-4">{{data.option.material}}</td>
                </tr>
                <tr>
                  <th class="col__title col-lg-2">Warranty</th>
                  <td class="col__value col-lg-4">{{data.warranty}}</td>
                  <th class="col__title col-lg-2">Made In</th>
                  <td class="col__value col-lg-4">{{data.option.madeIn}}</td>
                </tr>
              </table>
            </div>

            <div class="d-flex justify-content-between pt-4 ">
              <div style="color: orange;">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>

              <div class="d-flex">
                <div class="px-4">
                  Qualitiy: <input type="number" style="width: 40px;" value="1">
                </div>
                <button class="px-2" data-bs-toggle="modal" data-bs-target="#ModalCart">
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
            <div>
              <p class="product__card__offer text-danger">{{data.price.msOffer}}</pc>
              <div class="d-flex flex-row-reverse">
              <h5 class="product__card__offer decoration__text">{{data.price.msrp | currency:"$":0}}</h5>
              <h4 class="product__card__offer">{{data.price.msrp - (data.price.offer * data.price.msrp) | currency:"$":0}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="ModalCart">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">CONTACT INFORMATIONS</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body product__contact__modal">
            <div class="row">
              <form class="form-horizontal col-6 mx-auto" onsubmit="submitContact()">
                <div class="input-group mb-4">
                  <span class="input-group-text">Person</span>
                  <input type="text" class="form-control" placeholder="First Name" required>
                  <input type="text" class="form-control" placeholder="Last Name" required>
                </div>
                <div class="form-group ">
                  <label class="form-label col-sm-4">Your Address:</label>
                  <input type="text" class="form-control" placeholder="Enter address" required>
                </div>
                <div class="form-group ">
                  <label class="form-label col-sm-4" for="email">Your Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                </div>
                <div class="form-group ">
                  <label class="form-label col-sm-4" for="tel">Your Phone:</label>
                  <div class="col-sm-10 w-100">
                    <input type="number" class="form-control" id="tel" placeholder="Enter your phone from 8 to 12 numbers" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
              <div class="col-6">
                <img src="images/ContactModal.jpg" alt="" style="width: 75%; height: 75%;">
              </div>
            </div>
            <div class="text-end">
              <h5>Price: {{data.price.offer}}</h5>
              <h5>Qualitiy: 1</h5>
            </div>
          </div>
          <!-- Modal footer -->
          

        </div>
      </div>
    </div>
</section>
<script>
  // -------------------SEARCH--------------------
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>
<script>
 function submitContact(){
   alert("Thanks for ordering. We will contact to us as soon as possible");
  //  Thoát khỏi Modal sau khi Submit
   $('#ModalCart').modal('hide');

  //Xoá nội dung thẻ input,textarea,select, checkbox, radio vừa nhập
   $('#ModalCart').on('hidden.bs.modal', function (e) {
  $(this)
    .find("input,textarea,select")
       .val('')
       .end()
    .find("input[type=checkbox], input[type=radio]")
       .prop("checked", "")
       .end();
})
 }
</script>